

$background-clickable: rgb(21, 21, 65);
.App{
    height: 100vh;
    width: 100vw;
    display: flex;
    color: rgba(255, 255, 255, 0.61);
    input{
                    background-color: $background-clickable;
                    border: none;
                    font-size: 1.5em;
                    padding: 0 10px 0 10px;
                    color: greenyellow;
    }

    input:focus{
        outline: none;

    }
    .hidden{
        display: none;
    
    }
}